
.form-section {
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    padding: 5px;
    width: 80%;
    background-color: #9D4502;
    border-radius: 10px;
    color: white;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: none;
}

form h2 {
    width: 100%;
    padding: 10px;
}

input {
    margin-bottom: 25px;
    width: 100%;
    
}

.hide::before {
    content: "";
    position: absolute;
    left: 46%;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #FFEBDC transparent;
}

.hide {
    position: absolute;
    visibility: hidden;
    background-color: #FFEBDC;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    top: 85%;
}

.lvl-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEAB6D;
    color: #341C09;
    padding-top: 15px;
    border-radius: 10px;
}

.lvl-input:hover {
    background-color: #FC7307;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-group > div {
    width: 30%;
    position: relative;
}

.form-request > div {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}

.form-request h3 {
    width: 100%;
    padding: 10px 0;
}

.total {
    text-align: center;
}

@media screen and (min-width: 600px) {

    .inputs-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    input {
        width: 40%;
    }
}

@media screen and (min-width: 960px) {
    .form-wrapper {
        width: 60%;
    }

    .lvl-input:hover .hide {
        visibility: visible;
    }
}